<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Restraunt webpage</title>
    <link rel="preconnect" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="">
        <header class="d-flex align-items-center justify-content-around">

            <h1 class="">STUCCO'S PIZZERIA</h1>
              {{!-- <h2>Welcome, {{username}}!</h2> --}}
            {{!-- <div>Your total points is: 0</div> --}}
        </header>
        <nav class="navbar p-3 p-md-4 justify-content-center">
            <a href="/" class="text-white">Home</a>
            <a href="/" class="text-white">Location</a>
            <a href="/menu" class="text-white">Menu</a>
            <a href="/" class="text-white">About US</a>
            <a href="/" class="text-white">Map</a>
            <a href="/" class="text-white">Contact Us</a>
            <a href="/mail" class="text-white">Send Mail</a>
            <a href="/login" class="text-white">My Order</a>
             {{#if loggedIn}}
                    <a class="text-white" id="logout">Log Out</a>
                {{else}}
                    <a href="/login" class="text-white">Log In</a>
                {{/if}}
            {{!-- {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <!-- Otherwise, show a link to login -->
            <a href="/login">Login</a>
            {{/if}} --}}
        </nav>
    </div>

    <main class="category">
        {{{body}}}
    </main>

</body>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}} 

</body>

</html>