<section class="">
    <div class="">
        {{#each apetizers as |apetizer|}}
        <h3>{{apetizer.name}}</h3>
        <h3>{{apetizer.price}}</h3>
        <h3>{{apetizer.description}}</h3>
      {{/each}}
    </div>
</section>
